<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="verbose" value="true" />
    <add key="scan_inactive" value="true" />
    <add key="account_file" value="account-state.txt" />
    <add key="password_file" value="leaked-passwords.bin" />
    <add key="domain" value="TEST" />
    <add key="context" value="DC=test,DC=local" />
    <add key="tickdelay" value="60000" />
  </appSettings>
</configuration>